&--image {
  width: 420px;
}

&__image {
  margin-right: 17px;
  min-width: 40px;
  background-position: center center;
  background-repeat: no-repeat;
  height: 46px;

  &--custom {
    background: none !important;
    height: auto;
  }
}

&--default &__image {
  background-image: url($growl-notification-default-image);
}

&--info &__image {
  background-image: url($growl-notification-info-image);
}

&--success &__image {
  background-image: url($growl-notification-success-image);
}

&--warning &__image {
  background-image: url($growl-notification-warning-image);
}

&--error &__image,
&--danger &__image {
  background-image: url($growl-notification-danger-image);
  background-size: 90%;
}
