@import "../../_partials/variables";

$growl-notification-bg-color: #363636;
$growl-notification-title-color: #fff;
$growl-notification-desc-color: #fff;
$growl-notification-desc-after-title-color: rgba(#fff, .8);
$growl-notification-close-opacity: .6;
$growl-notification-close-hover-opacity: .8;
$growl-notification-button-ok-color: #fff;
$growl-notification-button-hover-bg-color: rgba(#fff, .05);
$growl-notification-button-cancel-color: rgba(#fff, .6);
$growl-notification-button-border-color: rgba(#fff, .1);
$growl-notification-close-icon: $growl-notification-close-icon-dark;


