@keyframes position-right-slide-in {
  100% { transform: translateX(0%); }
}

@keyframes position-right-slide-out {
  100% { transform: translateX(100%); }
}

@keyframes position-left-slide-in {
  100% { transform: translateX(0%); }
}

@keyframes position-left-slide-out {
  100% { transform: translateX(-100%); }
}

@keyframes position-top-slide-in {
  100% { transform: translateY(0%); }
}

@keyframes position-top-slide-out {
  100% { transform: translateY(-100%); }
}

@keyframes position-bottom-slide-in {
  100% { transform: translateY(0%); }
}

@keyframes position-bottom-slide-out {
  100% { transform: translateY(100%); }
}

@keyframes fade-in {
  100% { opacity: 1; }
}

@keyframes fade-out {
  100% { opacity: 0; }
}